@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
 

}
body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: hsl(30, 10%, 34%);
  background-color: hsl(30, 54%, 90%);
}
.description {
  background-color: hsl(30, 54%, 90%);
 
  border-radius: 15px;
  border-bottom: none;
  margin: auto 15px;
 
}
main, div{
  width: 80%;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  
}
.lis-description {
  color: hsl(24, 5%, 18%);
  
}
p, li {
  padding: 4px 20px 5px 10px;
}
section {
  margin: 20px 0;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-bottom: 20px;
}
ul, ol {
  padding-left: 29px;
}

h1 {
  font-size: 3.6rem;
  line-height: 5.4rem;
  color: hsl(24, 5%, 18%);
  text-transform: capitalize;
  margin-left: 15px;
}
h2 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: hsl(14, 45%, 36%);
  margin-left: 15px;
}
h2.info-description {
  font-size: 2.0rem;
  line-height: 3.6rem;
  color: hsl(332, 51%, 32%);
  margin-bottom: 20px;
  margin-left: 15px;
}
table {
  margin: 20px;
  padding: 2% 5%;
}
th,td {
  width: 150px;
  height: 50px;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  margin-left: 15px;
  
}
 .outfit-regular {
        font-family: "Outfit", sans-serif;
        font-weight: 400;
        font-style: normal;

 }
 .young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.text-brown {
  color: hsl(14, 45%, 36%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } 

@media screen and (max-width: 480px) {
  main, div {
    width: 100%;
    padding: 8%;
  }
  img {
    width: 480px;
    max-width: 480px;
    
  }
}